@import "tailwindcss";

body {
  background: #ffffff;
  color: #171717;
  font-family: "Nunito", sans-serif;
  
}

@keyframes scale-in {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  60% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.animate-scale-in {
  animation: scale-in 0.5s ease-out;
}


@media print {
  /* hide everything by default */
  body * {
    visibility: hidden !important;
  }

  /* show only print area */
  #print-area,
  #print-area * {
    visibility: visible !important;
  }

  /* make print area start from top-left */
  #print-area {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
  }

  /* optional: remove buttons, inputs inside print area */
  .no-print {
    display: none !important;
  }
}