@import "tailwindcss";

body {
  background: #ffffff;
  color: #171717;
  font-family: "Nunito", sans-serif;
  
}

@keyframes scale-in {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  60% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.animate-scale-in {
  animation: scale-in 0.5s ease-out;
}
